/*extend base class*/
.badge {
  display: inline-block;
  padding: rem(2px) rem(8px);
  font-size: rem(14px);
  font-weight:normal;
  white-space: nowrap;
  text-align: center;
  border-radius: rem(4px);
  border: rem(1px) solid transparent;
  margin-bottom: rem(4px);
  &:empty {
    display: none;
  }
  &-small {
    font-size: 75%;
  }
  &-large {
    font-size: 125%;
  }

  @at-root a#{&} {
    @include plain-hover-focus {
      /*remove the text decoration on all states*/
      text-decoration: none;
    }
  }
}

@each $colorName, $colorValue in $theme-colors {
  .badge-#{$colorName} {
    @include badge-variant($colorValue);
  }
  .badge-outline-#{$colorName} {
    border-color: $colorValue;
    color: theme-color($colorName);
    @at-root a#{&} {
      @include hover-focus {
        border-color: darken($colorValue, 10%);
        color: darken(theme-color($colorName), 10%);
      }
    }
  }
}
